@model DBManage.Models.tMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
